.union-icon4 {
  position: absolute;
  top: 43px;
  left: 56px;
  width: 52.9px;
  height: 56px;
}
.email-verification-code {
  position: relative;
  letter-spacing: 0.37px;
  line-height: 41px;
}
.use-the-below {
  margin: 0;
}
.hello-there-use-container {
  display: inline-block;
  width: 406px;
}
.hello-there-use-container,
.verification-code {
  position: relative;
  letter-spacing: -0.41px;
  line-height: 22px;
  font-weight: 600;
}
.div {
  position: relative;
  font-size: 48px;
  font-weight: 800;
  color: #fff;
}
.email-verification-code-parent,
.hello-there-use-the-below-cod-parent,
.verification-code-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.hello-there-use-the-below-cod-parent {
  gap: 40px;
  font-size: 17px;
  color: rgba(235, 235, 245, 0.6);
}
.email-verification-code-parent {
  position: absolute;
  top: 156px;
  left: 56px;
  gap: 31px;
}
.email-verification {
  position: relative;
  border-radius: 40px;
  background-color: #000;
  width: 100%;
  max-width: 736px;
  margin: auto;
  height: 532px;
  overflow: hidden;
  text-align: left;
  font-size: 34px;
  color: #fff;
  font-family: "Source Sans Pro";
}

@media screen and (max-width: 700px) {
  .hello-there-use-container {
    width: 300px;
  }
}

@media screen and (max-width: 450px) {
  .hello-there-use-container {
    width: 200px;
  }
  .union-icon4 {
    left: 30px;
  }
  .email-verification-code-parent {
    left: 30px;
    top: 130px;
  }
}
