.union-icon1 {
  position: relative;
  width: 52.9px;
  height: 56px;
}
.welcome-to-event1 {
  position: relative;
  letter-spacing: -0.03em;
  line-height: 40px;
}
.hello-fullname {
  margin: 0;
}
.i-want-to {
  color: rgba(235, 235, 245, 0.6);
}
.event {
  color: #fff;
}
.hello-fullname-i-container {
  position: relative;
  font-size: 17px;
  letter-spacing: -0.41px;
  line-height: 22px;
  font-weight: 600;
  font-family: "Source Sans Pro";
  text-align: left;
  display: inline-block;
  width: 624px;
  color: rgba(235, 235, 245, 0.6);
}
.welcome-to-event-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 31px;
}
.home-2-icon,
.home-3-icon {
  position: absolute;
  top: 0;
  left: 109px;
  width: 168.76px;
  height: 350px;
  object-fit: cover;
}
.home-3-icon {
  left: 0;
}
.frame-child,
.home-2-parent {
  position: relative;
  width: 277.76px;
  height: 350px;
}
.frame-child {
  border-radius: 20px;
  width: 56px;
  height: 56px;
  overflow: hidden;
  flex-shrink: 0;
}
.create-and-track {
  position: relative;
  letter-spacing: 0.37px;
  line-height: 41px;
  display: inline-block;
  width: 272px;
}
.frame-parent2,
.group-parent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
.frame-parent2 {
  justify-content: flex-start;
}
.viewer {
  position: relative;
  line-height: 16px;
}
.chip {
  border-radius: 8px;
  background-color: rgba(255, 159, 10, 0.15);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: 4px 8px;
  align-items: center;
  justify-content: center;
}
.invite-people-to {
  position: relative;
  font-size: 34px;
  letter-spacing: 0.37px;
  line-height: 41px;
  display: inline-block;
  color: #fff;
  width: 272px;
}
.chip-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8px;
}
.settings-parent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 50px;
  font-size: 12px;
  color: #ff9f0a;
}
.frame-container,
.frame-div,
.union-parent {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.frame-div {
  align-items: flex-start;
  gap: 80px;
  text-align: left;
  font-size: 34px;
  font-family: "Source Sans Pro";
}
.frame-container,
.union-parent {
  /* align-items: center; */
  gap: 40px;
}
.union-parent {
  align-items: flex-start;
  gap: 57px;
}
.rectangle-div {
  position: relative;
  background-color: rgba(255, 255, 255, 0.1);
  width: 624px;
  height: 2px;
}
.twitter2 {
  text-decoration: underline;
}
.twitter1 {
  color: inherit;
}
.thanks-for-now-container {
  position: relative;
  letter-spacing: -0.41px;
  line-height: 22px;
  font-weight: 600;
  display: inline-block;
  width: 609px;
}
.rectangle-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 16px;
}
.event1 {
  background: linear-gradient(94.98deg, #1774ff, #ffdcfb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.twitter-linkedin-email-container1,
.you-can-also-container {
  position: relative;
  letter-spacing: -0.41px;
  line-height: 22px;
  font-weight: 600;
}
.twitter-linkedin-email-container1 {
  display: inline-block;
  width: 406px;
}
.you-can-also-follow-event-for-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 24px;
}
.you-received-this {
  position: relative;
  letter-spacing: -0.41px;
  line-height: 22px;
  color: rgba(235, 235, 245, 0.6);
  display: inline-block;
  width: 636px;
}
.frame-parent9 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 40px;
  color: #fff;
}
.frame-parent8 {
  flex-direction: column;
  gap: 24px;
  text-align: left;
  font-size: 17px;
  color: inherit;
  font-family: "Source Sans Pro";
}
.frame-group,
.frame-parent8,
.welcome-to-event {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-group {
  flex-direction: column;
  gap: 40px;
}
.welcome-to-event {
  position: relative;
  border-radius: 40px;
  background-color: #000;
  width: "100%";
  max-width: 734px;
  margin: auto;
  overflow: hidden;
  flex-direction: row;
  padding: 43px 44px;
  box-sizing: border-box;
  /* text-align: center; */
  font-size: 40px;
  color: #fff;
  font-family: Inter;
}

@media screen and (max-width: 700px) {
  .welcome-to-event {
    max-width: 500px;
    padding: 34px 34px;
  }
  /* .union-icon1 {
    width: 44px;
    height: 44px;
  } */
  .hello-fullname-i-container {
    font-size: 17px;
    width: 400px;
  }
  /* .welcome-to-event1 {
    font-size: 30px;
  } */
  .frame-parent2,
  .group-parent,
  .settings-parent {
    flex-direction: column;
    margin-left: 65px;
  }
  .rectangle-div {
    width: 400px;
  }
  .you-can-also-container,
  .thanks-for-now-container {
    width: 400px;
    line-height: 40px;
  }
  .you-received-this {
    width: 400px;
  }
}

@media screen and (max-width: 450px) {
  .welcome-to-event {
    max-width: 400px;
    padding: 24px 24px;
  }
  .union-icon1 {
    width: 40px;
    height: 40px;
  }
  .hello-fullname-i-container {
    font-size: 16px;
    width: 300px;
  }
  .welcome-to-event1 {
    font-size: 30px;
  }
  .frame-parent2,
  .group-parent,
  .settings-parent {
    flex-direction: column;
    margin: auto;
  }
  .frame-parent8 {
    font-size: 16px;
  }
  .rectangle-div {
    width: 300px;
  }
  .you-can-also-container,
  .thanks-for-now-container {
    width: 300px;
    line-height: 40px;
  }
  .you-received-this {
    width: 300px;
  }
}
