.union-icon2 {
  position: absolute;
  top: 43px;
  left: 56px;
  width: 52.9px;
  height: 56px;
}
.invitation-to-event-name {
  position: absolute;
  top: 156px;
  left: 56px;
  letter-spacing: 0.37px;
  line-height: 41px;
}
.hello-there {
  margin: 0;
}
.fullname-is-inviting {
  color: rgba(235, 235, 245, 0.6);
}
.event-name {
  color: #fff;
}
.hello-there-fullname-container {
  position: absolute;
  top: 228px;
  left: 56px;
  font-size: 17px;
  letter-spacing: -0.41px;
  line-height: 22px;
  font-weight: 600;
  display: inline-block;
  width: 624px;
  color: rgba(235, 235, 245, 0.6);
}
.invitation-to-join-an-event {
  position: relative;
  border-radius: 40px;
  background-color: #000;
  width: 100%;
  max-width: 734px;
  margin: auto;
  height: 1444px;
  overflow: hidden;
  text-align: left;
  font-size: 34px;
  color: #fff;
  font-family: "Source Sans Pro";
}

@media screen and (max-width: 700px) {
  .invitation-to-join-an-event {
    max-width: 500px;
    padding: 34px 34px;
  }
  .hello-there-fullname-container {
    width: 400px;
  }
}

@media screen and (max-width: 450px) {
  .union-icon2 {
    width: 40px;
    height: 40px;
    left: 35px;
  }
  .invitation-to-event-name {
    font-size: 30px;
    top: 120px;
    left: 35px;
  }
  .invitation-to-join-an-event {
    max-width: 280px;
  }
  .hello-there-fullname-container {
    width: 260px;
    left: 35px;
  }
}
