.password-updated-item,
.union-icon3 {
  position: absolute;
  top: 43px;
  left: 56px;
  width: 52.9px;
  height: 56px;
}
.password-updated-item {
  top: 534px;
  background-color: rgba(255, 255, 255, 0.1);
  width: 624px;
  height: 5px;
}
.email-changed {
  position: relative;
  letter-spacing: 0.37px;
  line-height: 41px;
}
.we-just-changed {
  margin: 0;
}
.event2 {
  color: #fff;
}
.contact-us1 {
  color: inherit;
}
.hello-full-name-container1 {
  position: relative;
  letter-spacing: -0.41px;
  line-height: 22px;
  font-weight: 600;
  display: inline-block;
  width: 624px;
}
.email-changed-parent,
.hello-full-name-we-just-cha-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.hello-full-name-we-just-cha-container {
  font-size: 17px;
  color: rgba(235, 235, 245, 0.6);
}
.email-changed-parent {
  gap: 31px;
}
.the-event-team1 {
  position: relative;
  font-size: 22px;
  letter-spacing: 0.35px;
  line-height: 28px;
}
.frame-parent10 {
  position: absolute;
  top: 156px;
  left: 56px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 40px;
}
.twitter-linkedin-email-container2 {
  position: absolute;
  top: 579px;
  left: 56px;
  font-size: 17px;
  letter-spacing: -0.41px;
  line-height: 22px;
  font-weight: 600;
  color: rgba(235, 235, 245, 0.6);
  display: inline-block;
  width: 406px;
}
.password-updated2 {
  position: relative;
  border-radius: 40px;
  background-color: #000;
  width: 100%;
  max-width: 736px;
  margin: auto;
  height: 743px;
  overflow: hidden;
  text-align: left;
  font-size: 34px;
  color: #fff;
  font-family: "Source Sans Pro";
}

@media screen and (max-width: 700px) {
  .password-updated2 {
    max-width: 500px;
  }
  .hello-full-name-container1 {
    width: 400px;
  }
  .password-updated-item {
    width: 400px;
  }
}
@media screen and (max-width: 450px) {
  .password-updated2 {
    max-width: 400px;
  }
  .hello-full-name-container1 {
    width: 300px;
  }
  .password-updated-item {
    width: 300px;
    left: 30px;
  }
  .union-icon3 {
    left: 30px;
  }
  .frame-parent10 {
    left: 30px;
    top: 130px;
  }
  .twitter-linkedin-email-container2 {
    left: 30px;
  }
}
