.password-updated-child,
.union-icon {
  position: absolute;
  top: 43px;
  left: 56px;
  width: 52.9px;
  height: 56px;
}
.password-updated-child {
  top: 496px;
  background-color: rgba(255, 255, 255, 0.1);
  width: 624px;
  height: 5px;
}
.password-updated1 {
  position: relative;
  letter-spacing: 0.37px;
  line-height: 41px;
}
.hello-full-name {
  margin: 0;
}
.visit-your-account {
  color: inherit;
}
.hello-full-name-container {
  position: relative;
  letter-spacing: -0.41px;
  line-height: 22px;
  font-weight: 600;
  display: inline-block;
  width: 624px;
}
.hello-full-name-we-just-cha-wrapper,
.password-updated-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.hello-full-name-we-just-cha-wrapper {
  font-size: 17px;
  color: inherit;
}
.password-updated-parent {
  gap: 31px;
}
.the-event-team {
  position: relative;
  font-size: 22px;
  letter-spacing: 0.35px;
  line-height: 28px;
}
.frame-parent {
  position: absolute;
  top: 156px;
  left: 56px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 40px;
}
.twitter-linkedin-email-container {
  position: absolute;
  top: 541px;
  left: 56px;
  font-size: 17px;
  letter-spacing: -0.41px;
  line-height: 22px;
  font-weight: 600;
  color: rgba(235, 235, 245, 0.6);
  display: inline-block;
  width: 406px;
}
.password-updated {
  position: relative;
  border-radius: 40px;
  background-color: #000;
  width: 100%;
  max-width: 736px;
  margin: auto;
  height: 707px;
  overflow: hidden;
  text-align: left;
  font-size: 34px;
  color: #fff;
  font-family: "Source Sans Pro";
}

@media screen and (max-width: 700px) {
  .password-updated {
    max-width: 500px;
  }
  .hello-full-name-container {
    width: 400px;
  }
  .password-updated-child {
    width: 400px;
  }
}

@media screen and (max-width: 450px) {
  .password-updated {
    max-width: 400px;
  }
  .hello-full-name-container {
    width: 300px;
  }
  .password-updated-child {
    width: 300px;
    left: 30px;
  }
  .union-icon {
    left: 30px;
  }

  .frame-parent {
    left: 30px;
  }
  .twitter-linkedin-email-container {
    left: 30px;
  }
}
